$fontFamily = 'PingFang SC Regular',ziztour,'Microsoft YaHei',tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif

$fontFamily = 'Microsoft YaHei',tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif

$fontSize = 12px

$pageWidth = 1200px

