extends ./index

block css
  link(rel='stylesheet', type='text/css', href=`${CONTEXT_PATH}/css/others/services.css?v=${VERSION}`)

block otherNav
  +otherNav(2)

block substance
  h1 核心业务
  .underline
  .part-01
    h2 关于蜘蛛差旅&nbsp;&nbsp;
      em.small —— 每一次出行都创造价值
    p
      | 蜘蛛差旅是蜘蛛旅游网基于自身300,000家酒店、16,000家旅行社、1,000家企业客户、13家直连航司和雄厚的资金渠道，深耕上千日夜，打造的新一代差旅管理平台，轻量化企业差旅管理，支持微信PC双平台灵活操作。
      br/
      | 于2016年10月正式上线，截至2017年8月，已签约百家上市公司、上千家企业客户。
    h3 功能介绍
    .categories
      .yui3-g
        .yui3-u-1-5
          dl.item.icon-01
            dt 审批功能
            dd 同事审批
            dd 出差审批
            dd 权限审批
            dd 会员审批
        .yui3-u-1-5
          dl.item.icon-02
            dt 预订功能
            dd 机票
            dd 酒店
            dd 火车票
            dd 接送机
        .yui3-u-1-5
          dl.item.icon-03
            dt 管理功能
            dd 同事管理
            dd 权限管理
            dd 额度管理
            dd 行程管理
        .yui3-u-1-5
          dl.item.icon-04
            dt 分析功能
            dd 月结账单
            dd 差旅报表
            dd 报销报表
            dd 多维度分析
        .yui3-u-1-5
          dl.item.icon-05
            dt 其它功能
            dd 定制会议
            dd 定制旅游
            dd 企业福利
            dd 企业OA
    .part-bottom
      a.learn-more(href=`${CONTEXT_PATH}/travel/index.html`) 了解更多

  .part-02
    h2 关于蜘蛛智游行&nbsp;&nbsp;
      em.small —— 全域旅游智慧解决方案
    p
      | 蜘蛛智游行是蜘蛛旅游网响应国家“全域旅游”发展战略，解决目的地旅游行业痛点，因地制宜设计的智慧旅游一体化解决方案。  
    h3 产品服务
    h4 全域旅游电商平台系统
    p
      | 专为旅游资源供应商设计的一站式全域旅游电商交易平台，支持景区、酒店、餐厅和旅游特产的前台预订和后台管理。提供多渠道自有平台销售（微信商城，小程序，App）和产品分发服务（如携程，去哪儿，美团等）。提供商铺管理，商品管理，订单管理，运营管理，会员管理和财务管理等功能。为提升会员粘性和品牌忠诚度，特别设计会员管理和营销板块“升级套餐”，提供多种运营工具模板和数据分析功能。
    h4 全域旅游分销平台系统
    p
      | 为渠道分销商设计的全域旅游采购分销管理平台，一站式采购旅游行业资源要素，进行产品组合管理，采购订单管理，团购管理，套餐管理。创新设计需求竞标，反向定价的新型交易模式，优化价格组合。并为分销商的团队管理特设分销员目标考核激励体系。
    h4 全域旅游运营管理平台系统
    p
      | 为旅游行业运营管理而设计的全域旅游综合运营管理平台，搭建大数据中心和产业服务中心，统营统销，智慧管理。整合行业资源，优化市场效率，统营统销统管，建立产业检测平台，产品溯源体系，诚信商盟体系，客户呼叫中心。提升游客消费者的服务体验，行业经营者的管理效率和利润。提升公众满意度、增进社会信任，提升正向口碑和智慧旅游的品牌效应。

    .part-bottom
      a.learn-more(href=`${CONTEXT_PATH}/tech-travel/index.html`) 了解更多  
