// 全局样式
@require "./partials/layout"

.substance
  background inline-url('/images/others/culture/main-bg.svg') no-repeat center 230px
  height 800px
  .wrapper
    position relative
    h2
      font-size: 18px
      color: #333333
      height 52px
      line-height @height
    p
      font-size: 14px
      color: #787878
      line-height: 24px
      width 210px
      margin-top 15px

    .part-01
      position absolute
      top 112px
      left 70px
    .part-02
      position absolute
      top 112px
      right 70px
      h2
        text-align: right
    .part-03
      width 100%
      position absolute
      top 470px
      left 0
      h2
        width 210px
        margin 0 auto
        text-align: center
      p
        margin 15px auto 0 auto 
      .underline
        margin 0 auto
        height 0
        width 67px
        border: 1px solid #D8D8D8
